.copyrightsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #051C2C;
    padding: 15px 0;
    h2{
    font-family: "Roboto",Sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8FC4F7;
    padding: 10px;
    }
}