.introContainer{
    background-image: url('../imgs/pexels-pixabay-48195-scaled.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    height: 100%;
    width: 100%;
  
}