.Listcontainer{
    .list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        flex-direction: column;
    }
    .desktopList{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
    }
}